<h1>New visit</h1>
<script type="text/javascript">
  $(document).ready(function() {
    $('#spinner').show();
    navigator.geolocation.getCurrentPosition(success, fail);
    // success callback, gets passed position object
    function success(position) {
      $('#visit_lat').val(position.coords.latitude);
      $('#visit_lng').val(position.coords.longitude);
      $('#spinner').hide();
    }
    function fail(position) {
      alert("Positioning Failure");
      $('#spinner').hide();
    }
  });
</script>

<%= render 'form' %>
<%= image_tag('spinner.gif', :id => 'spinner', :style => 'display:none;') %>

<%= link_to 'Back', visits_path %>
