<script type="text/javascript">
  $(document).ready(function() {
    navigator.geolocation.getCurrentPosition(geo_success, geo_fail);
  });

  function geo_success(position) {
    jQuery.ajax({
      type: 'POST',
      url: '/visits',
      data: {
        visit: {
          ip: '<%= request.remote_ip %>',
          lat: position.coords.latitude,
          lng: position.coords.longitude,
          positioning_success: true
        }
      },
      dataType: 'json',
      success: function(data, textStatus, request) {
        showCurrentAddress(data);
      }
    });
  }

  function geo_fail(position) {
  	jQuery.ajax({
      type: 'POST',
      url: '/visits.json',
      data: {
        visit: {
          ip: '<%= request.remote_ip %>',
          positioning_success: false
        }
      }
    });
  }

  function showCurrentAddress(data) {
    $('#city').html(data['visit']['city']);
    $('#comma').show();
    $('#state').html(data['visit']['state']);
    $('#zip').html(data['visit']['zip']);
    $('#spinner').hide();
  }
</script>

<%= image_tag('spinner.gif', :id => 'spinner') %>

<h1>
  <span id="city"></span>
  <span id="comma" style="display:none;">,</span>
  <span id="state"></span>
  <span id="zip"></span>
</h1>