<script type="text/javascript">
  $(document).ready(function() {
    $('#spinner').fadeIn('slow');
    $('#status').fadeIn('slow');
    navigator.geolocation.getCurrentPosition(geo_success, geo_fail,{maximumAge:600000});
  });

  function geo_success(position) {
    $('#status').text("Mapping location");;
    jQuery.ajax({
      type: 'POST',
      url: '/visits.json',
      data: {
        visit: {
          ip: '<%= request.remote_ip %>',
          lat: position.coords.latitude,
          lng: position.coords.longitude,
          positioning_success: true
        }
      },
      dataType: 'json',
      success: function(data, textStatus, request) {
        showCurrentAddress(data);
        $('#status').text("Finding match");
        match_country(data['visit']['id']);
      }
    });
  }
  
  function match_country(visit_id) {
    jQuery.ajax({
      type: 'POST',
      url: '/visits/' + visit_id + '/match_country.json',
      dataType: 'json',
      success: function(data, textStatus, request) {
        showMatch(data);
        $('#status_box').fadeOut('slow', function(){
          $('#look_around').fadeIn(1000);
          $('#city_state').fadeIn(2000);
          
          $('#lot_like').fadeIn(4000);
          $('#match').fadeIn(4000);
          $('#concerned').fadeIn(6000);
          $('#rates').fadeIn(7000);
          $('#more').fadeIn(11000);
        });
      }
    });
  }

  function showCurrentAddress(data) {
    $('#city_state').text(data['visit']['city_state']);
    $('#my_rate').text(data['visit']['unemployment_rate'] + '%');
  }
  
  function showMatch(data) {
    $('#match').text(data['country']['name']);
    $('#match_rate').text(data['country']['unemployment_rate'] + '%');
  }
  
  function show_fail() {
    $('#status_icon').html("<img src='/images/fail_big.png' />");
    $('#status').text('We have failed');
  }

  function geo_fail(position) {
    show_fail();
  	jQuery.ajax({
      type: 'POST',
      url: '/visits.json',
      data: {
        visit: {
          ip: '<%= request.remote_ip %>',
          positioning_success: false
        }
      }
    });
  }
</script>

<div id="status_box" style="text-align:center;padding-top:50px;">
  <div id="status_icon"><%= image_tag("spinner_big.gif", :height => 48, :id => 'spinner', :style => 'display:none;') %></div>
  <h3 id="status" style="display:none;">Requesting permission</h3>
</div>

<div id="match_box">
  <h3 id="look_around" style="display:none;">look around,</h3>
  <h1 id="city_state" style="display:none;"></h1>
  <h3 id="lot_like" style="display:none;">is a lot like</h3>
  <h1 id="match" style="display:none;"></h1>

  <h3 id="concerned" style="display:none;">in terms of unemployment</h3>
  <h1 id="rates" style="display:none;">
   <span id="my_rate"></span> v 
   <span id="match_rate"></span>
  </h1>
  <br><br><br>
  <%= link_to 'what?', '/visits', :id => 'more', :style => 'display:none;' %>
</div>